div .content {
  // border: 1px solid;
  margin-bottom: 50px;
  text-transform: center;
}

.btn-margin {
  margin: 5px;
}

#applied {
  color: red;
}

#title h1 {
   color: $yellow;
 }

#title p {
  color: $blue;
  font-weight: bold;
}

#buttons {
  display: flex;
  justify-content: center;
}

.text-justify {
  text-align: justify;
}

.style_image {
  height: auto;
  width: 150px;
  padding-bottom: 3px;
  margin: 70px auto 20px
}

#job-application-modal {
  width: 85vw;
  height: 80vh;
  margin: 10vh auto;
  background: white;
  .modal-dialog {
    height: 100%;
    width: 100%;
    .modal-content {
      height: 100%;
      margin: 0;
    }
  }
}
