div .content {
  // border: 1px solid;
  margin-bottom: 20px;
  text-transform: center;
}

#applied {
  color: red;
}

#title h1 {
   color: red;
 }

.text-justify {
  text-align: justify;
}

#title p {
  color: blue;
}
.style_image {
  border-bottom: 10px solid #000; width: 204px;
    height: 65px;
    margin: 56px auto 48px;
}

#job-application-modal {
  width: 85vw;
  height: 80vh;
  margin: 10vh auto;
  background: white;
  .modal-dialog {
    height: 100%;
    width: 100%;
    .modal-content {
      height: 100%;
      margin: 0;
    }
  }
}
.space_search
{
  margin: 80px;
}
h2
{
  text-align:center;

}
.searchButton2
{
margin-right: 70px;
position: absolute;
  right: -50px;
  width: 80px;
  height: 36px;
  border: 2px solid #1Ea896;
  background: #1Ea896;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

}
.searchButton2:hover
{
  background: #04B486;
}
