// Define variables for your color scheme

// For example:
$red: #FF715B;
$blue: #23395B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #1EA896;
$dark-green: #08605F;
$gray: #000000;
$light-gray: #e5e5e5;
