.company-profile__wrapper {

}

.company-profile__container {

}

.company-profile__left-column {

}

.company-profile__picture {
  margin-top: 30px;
  img {
    width: 100%;
  }
}

.company-profile__details {
  margin-top: 30px;
  span {
    font-size: 30px;
  }
}

.company-profile__right-column {

}

.company-profile__job-offer {

}
