<h3>Your current applicants: </h3>
<% if @job_offer.job_applications.empty? %>
  <p>There are no applicants for this offer yet.</p>
<% else %>
  <% @job_applications.sort_by(&:created_at).each do |job_application| %>
    <div>
      <%= render 'job_applications/job_application_card', job_application: job_application, job_offer: job_application.job_offer %>
    </div>
  <% end %>
<% end %>
