<div class="card">
  <div class="card-category">Applicant</div>
  <div class="card-description">
    <h2><%= job_application.user.name %></h2>
    <p><%= job_application.personal_motivation %></p>
  </div>
  <% if job_application.user.picture.nil? %>
    <img src="http://www.unsplash.it/50/50" class="card-user">
  <% else %>
    <%= image_tag job_application.user.picture, { class: "card-user"} %>
  <% end %>
  <%= link_to "", job_offer_path, class: "card-link"%>
</div>
