<div class="card">
  <div class="card-category">Applicant</div>
  <div class="card-description">
    <h2><%= job_application.user.name %></h2>
    <p><%= job_application.personal_motivation %></p>
  </div>
  <% unless job_application.user.picture.nil? %>
    <%= image_tag job_application.user.picture, { class: "card-user"} %>
  <% end %>
  <%= link_to "", job_application, class: "card-link"%>
</div>
