<div class="banner" style="background-image: linear-gradient(-225deg,rgba(245, 246, 247, 0.6) 0%, rgba(60, 61, 62, 0.6) 50%), url('http://store4.up-00.com/2017-08/150357098501021.jpg');">
  <div class="col-xs-8">
    <div class="col-xs-12">
      <p>Don't call me a REFUGEE. I am a social change maker.</p>
    </div>
    <div class="col-xs-12">
      <div class="search">
        <form action="job_offers">
          <input type="text" class="searchTerm" placeholder="Search job offers" name="search">
          <button  type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
<div class="container">
  <% @job_offers.each do |job_offer| %>
  <%= render "job_offers/job_offer_card", job_offer: job_offer %>
  <% end %>
</div>


