
<div class="container">
<div class="wrap">

   <div class="search">

     <form action="job_offers">
        <input type="text" class="searchTerm" placeholder="Job offers" name="search">
        <button  type="submit" class="searchButton">
          <i class="fa fa-search"></i>
       </button>
      </form>
   </div>
  </div>
</div>

<div class="container">
  <% @job_offers.each do |job_offer| %>
    <%= render "job_offers/job_offer_card", job_offer: job_offer %>
  <% end %>
</div>


