<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="wrap">
   <div class="search">
     <form action="job_offers">
        <input type="text" class="searchTerm" placeholder="Job offers" name="search">
        <button  type="submit" class="searchButton">
          <i class="fa fa-search"></i>
       </button>
      </form>
   </div>
</div>

</body>
</html>
