<% content_for(:title_tag) do %>
  DotAccess | Job Search
<% end %>

<% content_for :meta_title, "DotAccess | Job Search" %>
<% content_for :meta_description, "Are you a refugee? Browse all the job offers posted by local companies who are looking for YOU! Find the perfect job offer to use your skills and education in your new country!" %>

<div class="jobs-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://store4.up-00.com/2017-08/150357098501021.jpg');">
  <div class="col-xs-8">
    <div class="col-xs-12">
      <p>Don't call me a REFUGEE. I am a social change maker.</p>
    </div>
    <div class="col-xs-12">
      <div class="search">
        <form action="job_offers">
          <input type="text" class="searchTerm" placeholder="What kind of job are you looking for?" name="search">
          <button  type="submit" class="btn btn-info searchButton">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
<div class="container">
  <% @job_offers[0...9].each do |job_offer| %>

    <%= render "job_offers/job_offer_card", job_offer: job_offer %>

  <% end %>
</div>

<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

