<div class="container">
  <h1>Company Profile</h1>
  <%= @company.name %>
  <%= @company.email %>
  <h4>Your job offers:</h4>
  <% @job_offers.each do |job_offer| %>
  <div class="col-xs-12">
    <%= render 'job_offers/job_offer_card', job_offer: job_offer %>
  </div>
  <% end %>
</div>
